## provide /proc/config.gz always
CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y

## 250hz does the job well enough
CONFIG_HZ_250=y

## we only have 16 cpus
CONFIG_NR_CPUS=16

## reduced debug info
CONFIG_DEBUG_INFO_REDUCED=y

## LTO
CONFIG_LTO=y
CONFIG_LTO_CLANG=y
CONFIG_LTO_CLANG_FULL=y

## I doubt any consumer laptops have more than 2 gpus
CONFIG_VGA_ARB_MAX_GPUS=2

## android stuffs
CONFIG_ANDROID_BINDER_IPC=m
CONFIG_ANDROID_BINDERFS=m

## tls
CONFIG_TLS=m
CONFIG_TLS_DEVICE=y
CONFIG_SKB_DECRYPTED=y

## usb
CONFIG_USB_STORAGE=m
CONFIG_USB_UAS=m
CONFIG_USB_PRINTER=m

## fs support
CONFIG_BTRFS_FS=m

CONFIG_F2FS_FS=m
CONFIG_F2FS_FS_COMPRESSION=y
CONFIG_F2FS_FS_LZO=y
CONFIG_F2FS_FS_LZORLE=y
CONFIG_F2FS_FS_LZ4=y
CONFIG_F2FS_FS_LZ4HC=y
CONFIG_F2FS_FS_ZSTD=y

CONFIG_NTFS3_FS=m

CONFIG_EROFS_FS=m
CONFIG_EROFS_FS_ZIP_ZSTD=y

CONFIG_OVERLAY_FS=m
CONFIG_FUSE_FS=y

CONFIG_EXFAT_FS=m
CONFIG_EXFAT_DEFAULT_IOCHARSET="utf8"


## build binfmt_misc as module
CONFIG_BINFMT_MISC=m

## disable some debugging
# CONFIG_SLUB_DEBUG is not set
# CONFIG_PM_DEBUG is not set
# CONFIG_BLK_DEBUG_FS is not set
# CONFIG_SCHED_DEBUG is not set
# CONFIG_BT_DEBUGFS is not set

# CONFIG_NET_DROP_MONITOR is not set
# CONFIG_CFG80211_DEBUGFS is not set
# CONFIG_MAC80211_DEBUGFS is not set
# CONFIG_MAC80211_MESSAGE_TRACING is not set
# CONFIG_ZRAM_MEMORY_TRACKING is not set
# CONFIG_THERMAL_DEBUGFS is not set
# CONFIG_SW_SYNC is not set
# CONFIG_IOMMU_DEBUGFS is not set
# CONFIG_RAS_CEC is not set
# CONFIG_NOP_TRACER is not set
# CONFIG_SCHED_CLASS_EXT is not set
# CONFIG_ACPI_DEBUGGER_USER is not set
CONFIG_STRIP_ASM_SYMS=y

# enable expert
CONFIG_EXPERT=y

## nuke other cpu support
CONFIG_PROCESSOR_SELECT=y
# CONFIG_X86_MCE_INTEL is not set
# CONFIG_CPU_SUP_INTEL is not set
# CONFIG_CPU_SUP_HYGON is not set
# CONFIG_CPU_SUP_CENTAUR is not set
# CONFIG_CPU_SUP_ZHAOXIN is not set
CONFIG_MZEN4=y

## nuke misc
# CONFIG_USB_KBD is not set
# CONFIG_USB_MOUSE is not set
# CONFIG_MAXSMP is not set

## preempt
CONFIG_PREEMPT_LAZY=y
# CONFIG_PREEMPT_DYNAMIC is not set

## nuke more intel stuff
# CONFIG_INTEL_IOMMU is not set
# CONFIG_KVM_INTEL is not set
# CONFIG_AGP is not set
# CONFIG_X86_INTEL_PSTATE is not set
# CONFIG_X86_INTEL_LPSS is not set
# CONFIG_X86_INTEL_MEMORY_PROTECTION_KEYS is not set
# CONFIG_INTEL_RAPL_TPMI is not set
# CONFIG_INTEL_RAPL is not set
# CONFIG_PERF_EVENTS_INTEL_RAPL is not set
# CONFIG_PCIE_DW_DEBUGFS is not set
# CONFIG_SCHEDSTATS is not set
# CONFIG_INTEL_TCC is not set
# CONFIG_INTEL_SOC_DTS_IOSF_CORE is not set
# CONFIG_INTEL_RAPL_CORE is not set
# CONFIG_INT340X_THERMAL is not set

# CONFIG_INTEL_SOC_PMIC is not set
# CONFIG_INTEL_SOC_PMIC_CHTWC is not set

# CONFIG_SND_SOC_INTEL_SST_TOPLEVEL is not set
# CONFIG_SND_SOC_ACPI_INTEL_MATCH is not set
# CONFIG_SND_SOC_ACPI_INTEL_SDCA_QUIRKS is not set
# CONFIG_SND_SOC_INTEL_MACH is not set
# CONFIG_SND_SOC_INTEL_USER_FRIENDLY_LONG_NAMES is not set
# CONFIG_SND_SOC_SOF_INTEL_TOPLEVEL is not set

# CONFIG_INTEL_LDMA is not set
# CONFIG_INTEL_TPMI is not set
# CONFIG_INTEL_TPMI_POWER_DOMAINS is not set
# CONFIG_INTEL_VSEC is not set

# CONFIG_INTEL_TURBO_MAX_3 is not set

# CONFIG_INTEL_SCU is not set
# CONFIG_INTEL_SCU_IPC is not set
# CONFIG_INTEL_SCU_PCI is not set

## misc
CONFIG_CGROUP_DMEM=y
CONFIG_IRQ_TIME_ACCOUNTING=y
CONFIG_X86_MSR=m
CONFIG_USB_NET_CDC_NCM=m

## rcu
CONFIG_RCU_CPU_STALL_TIMEOUT=60
CONFIG_RCU_LAZY=y
CONFIG_RCU_DOUBLE_CHECK_CB_TIME=y

## nuke selinux and audit
# CONFIG_SECURITY_SELINUX is not set
# CONFIG_AUDIT is not set
# CONFIG_AUDITSYSCALL is not set
